.nav-bar {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: 'Darumadrop One', cursive;
  justify-content: space-between;
}
.container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
}

@media screen and (min-width: 1024px) {
   .nav-bar {
      justify-content: space-around;
   }
   .container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
   } 
}
