.card {
  background-color: #242424;
  border: 1px solid transparent;
  border-radius: 8px;
  margin: 1em auto;
  padding: 5px 1.2em;
  transition: all 0.4s;
}

.card:hover {
  border-color: #79ff64c1;
  transform: scale(1.03);
}
.name {
  font-family: 'Darumadrop One', cursive;
  margin-top: 3px;
}
.image {
  border-radius: 50%;
  transition: all 0.3s;
  border: 3px solid #4caf50;
}
/* .image:hover {
  transform: scale(1.03);
} */
.origin-name {
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
}
.species-name {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.1em;
  font-weight: 400;
}